/* fira-sans-regular - latin */
body {
  font-family: "LXGW WenKai Lite", "KaiTi", "Kaiti SC", serif;
  font-size: 18px;
  line-height: 2.2;
  word-break: break-word;
  background: var(--theme); /* 如果没有定义 --theme，可以暂时去掉 */
}

