/* fira-sans-regular - latin */
body {
  font-family: 'LXGW WenKai Lite', serif;
  font-size: 17px;
  line-height: 2.4;
  word-break: break-word;
  background: var(--theme); /* 如果没有定义 --theme，可以暂时去掉 */
}

