body, html, article, section, div, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: "LXGW WenKai Lite", "KaiTi", "Kaiti SC", "PT Serif", "Noto Serif SC", serif !important;
  font-size: 19px;
  line-height: 2.2;
  word-break: break-word;
  background: var(--theme);
}
code, pre, kbd, samp {
  font-family: "JetBrains Mono", monospace !important;
}

